#list {
    list-style: none;
    display: flex;
    flex-direction: column;

}

.favListItem {
    display: flex;
    justify-content: space-between;
}

.favorite {
    fill: yellow;
}

[data-id] {
    color: red;
    margin-left: 20px;
}
