@media screen and (max-device-width: 600px) {
    .sideBar {
        display: none;
    }
    #root {
        flex: 1;
    }
}

html, body, main {
    margin: 0;
    padding: 0;
}

main {
    height: 600px;
    display: flex;
}

.root {
    width: 67%;
    min-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid darkgray;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sideBar {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    background-color: lightgrey;
    border: 2px solid darkgray;
}

.sideBar_header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.sideBar_header > img {
    margin-right: 20px;
}
